<footer class="bg-blue-100">
  <div class="container">
    <section class="flex flex-col sm:flex-row gap-4 flex-wrap sm:flex-nowrap h-auto lg:h-[14.375rem] mx-4 py-4">
      <div class="flex-1">
        <h3 class="mb-2 text-blue-200 font-medium text-[calc(1.3rem+.6vw)] xl:text-[1.75rem] leading-[1.2] underline">
          <i class="footer__icon fa-solid fa-phone pr-2"></i>¿Necesitas mas información? ¡Contactanos!
        </h3>
        <p class="mb-4">Envianos un correo a la dirección 
          <a
            class="text-blue-200 hover:text-blue-500 underline hover:no-underline font-semibold"
            href="mailto:contacthell666@nirvaniviene.com">
              contacthell666@nirvaniviene.com
          </a>
        </p>
        <p class="mb-4">O contactanos por Whatsapp,Telegram o llamanos al número 
          <a
            class="text-blue-200 hover:text-blue-500 underline hover:no-underline font-semibold"
            href="tel:666666666">
              +34 666 666 666
          </a>
        </p>
      </div>

      <div class="flex-1">
        <h3 class="mb-2 text-blue-200 font-medium text-[calc(1.3rem+.6vw)] xl:text-[1.75rem] leading-[1.2] underline">
          <i class="footer__icon fa-solid fa-envelope pr-2"></i>Suscribete a nuestra Newsletter!
        </h3>
        <form name="newsletter" method="POST" data-netlify="true">
          <div class="mb-4">
            <label for="email" class="inline-block mb-2">Correo electrónico</label>
            <input
              type="email"
              class="appearance-none
                block
                w-full
                py-1.5
                px-3
                bg-grey-100
                bg-clip-padding
                border-solid
                border
                border-grey-200
                focus:border-dirty-blue
                rounded-md
                outline-0
                focus:shadow-[0_0_0_0.25rem_rgb(16,76,117,0.25)]"
              id="email"
              name="email"
              required
            >
          </div>
          <div class="flex justify-between items-center">
            <div class="block min-h-[1.5rem] pl-[1.5em] mb-0.5">
              <!--TODO: tick-->
              <input
                type="checkbox"
                class="appearance-none
                  block
                  relative
                  float-left
                  w-[1em]
                  h-[1em]
                  mt-1
                  ml-[-1.5em]
                  checked:text-white
                  bg-grey-100
                  checked:bg-blue-200
                  enabled:active:brightness-90
                  border-solid
                  border
                  border-black/25
                  focus:border-dirty-blue
                  rounded
                  outline-0
                  focus:shadow-[0_0_0_0.25rem_rgb(16,76,117,0.25)]
                  checked:before:content-['\f00c']
                  checked:before:font-fontawesome
                  checked:before:text-[10px]
                  checked:before:absolute
                  checked:before:top-[-0.325rem]
                  checked:before:left-0.5"
                id="privacyPolicy"
                required
              >
              <label class="inline-block" for="privacyPolicy">
                Acepto la 
                <a
                  class="text-blue-200 hover:text-blue-500 underline hover:no-underline font-semibold"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#privacy-policy"
                >
                  Política de Privacidad
                </a>
              </label>
            </div>
            <button
              type="submit"
              class="py-1
                px-2
                ml-4
                text-white
                text-sm
                leading-normal
                font-semibold
                bg-blue-200
                hover:bg-blue-300
                border-solid
                border
                border-blue-200
                hover:border-blue-400
                rounded"
            >
              Suscribir
            </button>
          </div>
        </form>
      </div>
    </section>
  
    <section
      class="flex
        flex-col
        md:flex-row
        justify-between
        items-center
        h-auto
        md:h-[4.375rem]
        border-solid
        border-t-[1px]
        border-blue-200
        py-4 md:py-2"
      >
      <include
        src="./views/logo.html"
        locals='{
          "logoImage": "./assets/images/logo.png",
          "altText": "Nir Va Ni Viene logo",
          "classStyle": "h-[3.125rem] md:ml-2"
        }'
      ></include>

      <ul class="flex flex-col sm:flex-row flex-wrap py-2"><!--Check align-items center-->
        <li class="self-center">
          <a class="block px-4 font-bold text-blue-200 hover:text-blue-500" href="index.html">Inicio</a>
        </li>
        <li class="self-center">
          <a class="block px-4 font-bold text-blue-200 hover:text-blue-500" href="band-members-information-page.html">Miembros</a>
        </li>
        <li class="self-center">
          <a class="block px-4 font-bold text-blue-200 hover:text-blue-500" href="#">Artículos</a>
        </li>
        <li class="self-center">
          <a class="block px-4 font-bold text-blue-200 hover:text-blue-500" href="videos-page.html">Conocenos</a>
        </li>
      </ul>

      <ul class="flex flex-wrap py-2">
        <li>
          <a class="block px-2 font-bold text-blue-200 hover:text-blue-500" href="#">
            <span class="sr-only">Google</span><i class="fa-brands fa-google-plus-g"></i>
          </a>
        </li>
        <li>
          <a class="block px-2 font-bold text-blue-200 hover:text-blue-500" href="#">
            <span class="sr-only">Facebook</span><i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="block px-2 font-bold text-blue-200 hover:text-blue-500" href="#">
            <span class="sr-only">Twitter</span><i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="block px-2 font-bold text-blue-200 hover:text-blue-500" href="#">
            <span class="sr-only">Instagram</span><i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="block px-2 font-bold text-blue-200 hover:text-blue-500" href="#">
            <span class="sr-only">Twitch</span><i class="fa-brands fa-twitch"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</footer>
