<footer class="bg-blue-100">
  <div class="container">
    <section class="">
      <div class="">
        <h3 class=""><i class="footer__icon fa-solid fa-phone"></i>¿Necesitas mas información? ¡Contactanos!</h3>
        <p>Envianos un correo a la dirección <a class="" href="mailto:contacthell666@nirvaniviene.com">contacthell666@nirvaniviene.com</a></p>
        <p>O contactanos por Whatsapp,Telegram o llamanos al número <a class="" href="tel:666666666">+34 666 666 666</a></p>
      </div>

      <div class="">
        <h3 class=""><i class="footer__icon fa-solid fa-envelope"></i>Suscribete a nuestra Newsletter!</h3>
        <form name="newsletter" method="POST" data-netlify="true">
          <div class="">
            <label for="email" class="">Correo electrónico</label>
            <input type="email" class="" id="email" name="email" required>
          </div>
          <div class="">
            <div class="">
              <input type="checkbox" class="" id="privacyPolicy" required>
              <label class="" for="privacyPolicy">
                Acepto la <a class="" href="#" data-bs-toggle="modal" data-bs-target="#privacy-policy">Política de Privacidad</a>
              </label>
            </div>
            <button type="submit" class="">Suscribir</button>
          </div>
        </form>
      </div>
    </section>
  
    <section class="">
      <picture>
        <source srcset="./assets/images/logo.png?as=webp" type="image/webp" />
        <img class="" src="./assets/images/logo.png" alt="Nir Va Ni Viene logo" width="50" height="50" />
      </picture>

      <ul class="">
        <li class="">
          <a class="" href="index.html">Inicio</a>
        </li>
        <li class="">
          <a class="" href="band-members-information-page.html">Miembros</a>
        </li>
        <li class="">
          <a class="" href="#">Artículos</a>
        </li>
        <li class="">
          <a class="" href="#">Conocenos</a>
        </li>
      </ul>

      <ul class="">
        <li class="">
          <a class="" href="#"><span class="">Google</span><i class="fa-brands fa-google-plus-g"></i></a>
        </li>
        <li class="">
          <a class="" href="#"><span class="">Facebook</span><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="">
          <a class="" href="#"><span class="">Twitter</span><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="">
          <a class="" href="#"><span class="">Instagram</span><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class="">
          <a class="" href="#"><span class="">Twitch</span><i class="fa-brands fa-twitch"></i></a>
        </li>
      </ul>
    </section>
  </div>
</footer>
