<header>
  <nav class="pt-4 pb-2 bg-blue-100">
    <div class="container flex max-[992px]:justify-between">
      <a class="mr-4 ml-2 md:ml-0" href="./index.html">
        <picture>
          <source srcset="./assets/images/logo.png?as=webp" type="image/webp" />
          <img class="h-[3.125rem] md:ml-2" src="./assets/images/logo.png" alt="Nir Va Ni Viene logo" width="50" height="50" />
        </picture>
      </a>
      <button
        class="block lg:hidden w-14 h-10 self-center px-3 py-1 border-solid border-[1px] border-black/[.1] focus:shadow-[0_0_0_.25rem] focus:shadow-blue-200 rounded-md text-xl leading-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="inline-block"><i class="fa-solid fa-bars inline-block align-baseline text-blue-200 text-2xl leading-none"></i></span>
      </button>
      <div class="hidden lg:flex grow basis-auto justify-end" id="navbarNav">
        <ul class="flex justify-end items-center">
          <li>
            <a class="block my-1 px-4 font-bold text-blue-200 hover:text-blue-500 aria-[current=page]:text-blue-500 aria-[current=page]:border-solid aria-[current=page]:border-b-[3px] aria-[current=page]:border-blue-200" aria-current="{{bandMemberCurrentPage}}" href="band-members-information-page.html">Miembros</a>
          </li>
          <li>
            <a class="block my-1 px-4 font-bold text-blue-200 hover:text-blue-500 aria-[current=page]:text-blue-500 aria-[current=page]:border-solid aria-[current=page]:border-b-[3px] aria-[current=page]:border-blue-200" aria-current="{{articleCurrentPage}}" href="#">Artículos</a>
          </li>
          <li>
            <a class="block my-1 px-4 font-bold text-blue-200 hover:text-blue-500 aria-[current=page]:text-blue-500 aria-[current=page]:border-solid aria-[current=page]:border-b-[3px] aria-[current=page]:border-blue-200" aria-current="{{thirdCurrentPage}}" href="#">Conocenos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
